##### Exericise 2: Create a title for this notebook

# Data Science Tools and Ecosystem

##### Exercise 11: Create a markdown cell for the author of this notebook

## Author
Sumari Hattingh Van Niekerk

##### Exercise 3: Create an introduction for this notebook

In this notebook, Data Science Tools and Ecosystem are summarised.

##### Exercise 10: List the objectives

**Objectives of this assignment**

* Be able to create a Jupyter Notebook, use code and markdown cells, and share the notebook via GitHub 
* List popular programming languages for Data Science
* List commonly used libraries for Data Science
* List three Data Science Tools
* Provide examples of simple arithmetic expressions in Python

##### Exercise 4: List data science languages

Popular and most common programming languages that Data Scientists use, are (in no particular order):

1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

##### Exercise 5: List data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. Python - Pandas, NumPy, SciPy, Matplotlib
2. R - Dplyr, Ggplot2, Leaflet, Caret
3. SQL - SQLC, SQLX, DBR, Jet
4. Scala - Udash, ScalaTags, Widok, ScalaCSS
5. Java - Apache Commons, Jackson, Maven, JAXB
6. C++ - id3lib, libsndfile, curlpp, netif
7. Julia - Pluto, Plots, Flux, Makie

##### Exercise 6: List data science tools


| Data Science Tools |
| ------------- | 
| Pandas | 
| Hadoop | 
| Spark | 
| TensorFlow | 
| Ggplot2 |

##### Exercise 7: Introduce arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

##### Exercise 8: Create a code to multiply and add numbers

In [2]:
#This is a simple arithmetic expression to multiple then add integers
(3 * 4) + 5

17

In [15]:
#It can also be typed like this
x = (3 * 4) + 5
print("The answer to multiplying 3 and f4, and then adding 5, is equals to", x, ".")

The answer to multiplying 3 and f4, and then adding 5, is equals to 17 .

##### Exercise 9: Create a code to convert minutes into hours

In [4]:
#This will convert 200 minutes to hours by dividing by 60
(200 / 60)

3.3333333333333335

In [16]:
#It can also be typed like this
x = (200 / 60)
print("Converting 200 minutes to hours can be done by dividing 200 by 60, which is equals to", x, "hours.")

Converting 200 minutes to hours can be done by dividing 200 by 60, which is equals to 3.3333333333333335 hours.